<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="tokenendpoint" value="http://localhost:38917/oauth/token" />
    <add key="clientid" value="152070aa-04ae-4e28-88f0-eeaed777405d" />
    <add key="clientsecret" value="test@test" />
    
  </appSettings>
  
</configuration>